{
  "presets": ["es2015-node5", "stage-0"],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    ["transform-async-to-module-method", {
      "module": "bluebird-co",
      "method": "coroutine"
    }],
    ["module-alias", [
      { "src": "./config", "expose": "config" },
      { "src": "./src/logger", "expose": "logger" }
    ]]
  ]
}
